# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Data files
data/raw/*
data/processed/*
output/
data/vector_db/*   
data/NIH-ChestX-ray3
data/processed_* 
data/ambiguous_img/ 
data/vinbigdata-chest-xray-abnormalities-detection/
NIH_ChestX-ray14/
data/duplicate/
data/quarantine/
data/test_sample/
new_data/

!data/raw/.gitkeep
!data/processed/.manifest.csv
!data/vector_db/.gitkeep


# Model artifacts
models/
*.pt
*.pth
*.onnx
*.h5
*.pkl
*.joblib

# MLflow
mlruns/*
!mlruns/.gitkeep
mlartifacts/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# Coverage / testing
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/
