kagglehub
pandas
numpy
scikit-learn
matplotlib
seaborn
torch
torchvision
timm
albumentations
opencv-python
scipy
mlflow
open_clip_torch
tensorboard
langchain
langchain-openai
langchain-community
unstructured[pdf]
poppler-utils
tesseract
qdrant-client
tiktoken
streamlit>=1.53.0
pydicom