kagglehub
pandas
numpy
scikit-learn
matplotlib
seaborn
torch
torchvision
timm
albumentations
opencv-python
scipy
mlflow
open_clip_torch
tensorboard
langchain
langchain-openai
langchain-community
langchain-text-splitters
unstructured[pdf]
poppler-utils
tesseract
pytesseract
qdrant-client
tiktoken
chromadb
sentence-transformers
rank-bm25
PyMuPDF
beautifulsoup4
Pillow
openpyxl
streamlit>=1.53.0
pydicom
instructor
fitz